/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

h1, h2, h3 {
    margin-top: 0;
}

/* Шапка */
header {
    background: white;
    padding: 20px;
    border-bottom: 2px solid #ddd;

    display: flex;
    justify-content: space-between; /* Раздвигает элементы по краям */
    align-items: center; 
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: black;
    border: 1px solid #aaa;
    padding: 5px 10px;
    border-radius: 4px;
}

/* Основная область */
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 15px;
}

/* Блок "Обо мне" с боковой колонкой */
#facts {
    display: flex;              /* Меняем GRID на FLEX */
    gap: 20px;

    background: white;
    padding: 20px;
    border: 1px solid #ccc;

    align-items: flex-start;
}

.facts-photo {
    flex: 0 0 200px;            /* фиксированная ширина фото */
}

.facts-photo img {
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
}

.facts-text {
    flex: 1;                    /* текст занимает ВСЁ остальное место */
    border: 1px dashed #bbb;
    padding: 15px;
}


/* Боковой блок */
aside {
    background: #fafafa;
    padding: 10px;
    border: 1px dashed #bbb;
    grid-row: 1 / span 1; /* ВОТ ЭТО ГЛАВНОЕ */
}

/* Навыки */
#skills {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

/* Проекты */
#projects {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
}

/* Подвал */
footer {
    text-align: center;
    padding: 15px;
    background: white;
    border-top: 2px solid #ddd;
    margin-top: 20px;
}
