/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

h1, h2, h3 {
    margin-top: 0;
}

/* Шапка */
.site-header {
    display: flex;                 
    justify-content: space-between;
    align-items: center;           

    padding: 20px;
    background: white;
    border-bottom: 2px solid #ddd;
}

.site-header h1 {
    margin: 0;                     /
    font-size: 28px;
}

/* Меню */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.nav-menu a {
    text-decoration: none;
    color: black;
    border: 1px solid #aaa;
    padding: 6px 12px;
    border-radius: 5px;
}

/* Основная область */
main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 15px;
}

/* Блок "Обо мне" с боковой колонкой */
#facts {
    display: flex;             
    gap: 20px;
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: justify;
    align-items: flex-start;
}

.facts-photo {
    flex: 0 0 200px;            
}

.facts-photo img {
    width: 100%;
    height: auto;
    border: 1px solid #aaa;
}

.facts-text {
    flex: 1;                    
    border: nonw;
    padding: 15px;
}


/* Боковой блок */
aside {
    background: #fafafa;
    padding: 10px;
    border: 1px dashed #bbb;
    grid-row: 1 / span 1; 
}

/* Навыки */
#skills {
    background: white;        
    padding: 20px;            
    border: 1px solid #ccc;   
    margin-top: 20px;         
}

#skills ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

/* Образование */
#educations {
    background: white;       
    padding: 20px;            
    border: 1px solid #ccc;   
    margin-top: 20px;   
    text-align: justify;      
}

#educations ul {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}


/* Проекты */
#projects {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #aaa;
    padding: 8px;
    text-align: left;
}

/* Подвал */
footer {
    text-align: center;
    padding: 15px;
    background: white;
    border-top: 2px solid #ddd;
    margin-top: 20px;
}
